.flexbox {
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  border-radius: 4px;
  opacity: 0.7;
}

.flexbox:hover {
  opacity: 1;
  border: 1px solid darkslategrey;
  transition: all 100ms linear;
}

.username {
  align-self: flex-start;
  font-size: 0.7em;
}

header {
  background-color: rgb(233, 229, 229);
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
  border-radius: 4px 4px 0px 0px;
  width: 99.9%;
}

section.existing-tweets {
  margin: auto;
  padding-top: 0px;
}

footer {
  font-size: 0.6em;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.tweet-content {
  border-bottom: 1px solid lightgray;
  margin-bottom: auto;
  padding: 15px;
  text-align: left;
}

.user {
  margin: 10px;
}

.img-user {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

img {
  border-radius: 4px;
}

.material-icons {
  opacity: 0;
  cursor: pointer;
}

.flexbox:hover .material-icons {
  opacity: 1;
  transition: all 100ms linear;
}
